/*-------------------------
	Simple reset
--------------------------*/



*{
	margin:0;
	padding:0;
}



::selection {
        background: #a8d1ff;
}
::-moz-selection {
        background: #a8d1ff;
}

/*-------------------------
	General Styles
--------------------------*/



html{
	background:url('../img/background_tile_2.jpg');
	position:relative;
}

body{
	color:#fff;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}



/*-------------------------
	Header Styles
--------------------------*/




header,
#dropbox:before{
	display: block;
	content:'';
	height:4px;
	width:100%;
	background:url('../img/blue_line.jpg');
	position: absolute;
	top:0;
	left:0;
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
}


h1{
	background:url('../img/logo.jpg') no-repeat top center;
	height:92px;
	overflow: hidden;
	text-indent: -99999px;
	text-align: center;
}



/*-------------------------
	Dropbox Element
--------------------------*/
html, body {
  height: 100%;
}


#dropbox{
	background:url('../img/background_tile_3.jpg');
	
	border-radius:3px;
	
	overflow: hidden;
	width: 100%;
	min-height: 100%;
  left: 0;
  top: 0;
	padding-bottom: 150px;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message{
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#dropbox .message i{
	color:#ccc;
	font-size:10px;
}

header {
	border-radius:3px 3px 0 0;
	position: fixed;
	top: 0;
	box-shadow: 0 0 10px black;
	z-index: 9999;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .imageHolder {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#dropbox .preview img{
/* 	max-width: 240px; */
/* 	max-height:180px; */
	display: block;
	
	box-shadow:0 0 2px #000;
	
	
	position: absolute;
	
}

#dropbox .imageHolder{
  border:3px solid #fff;
	display: inline-block;
	position:relative;
}

.hidden {
  display: none;
}

#dropbox .popup {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

#dropbox .popup:hover {
  background: url('../img/popup.png') no-repeat center center rgba(255,255,255,0.5);
  opacity: 0.9;  
}

#dropbox .popup:active {
  opacity: 1;
}

a.remove {
  position: absolute;
  top: -12px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-image: url('../fancybox/fancybox.png');
  background-position: -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

div.confirm {
  min-height: 100px;
  min-width: 100px;
  color: #CCC;
  background: url('../img/background_tile_3.jpg');
  padding: 20px 10px;
}

div.confirm h3 {
  font-size: 12px;
  font-family: Lucida Grande;
  line-height: 1.5em;
}

div.confirm p {
  font-size: 11px;
  font-weight: normal;
  font-family: Lucida Grande;
  padding: 10px 0 20px;
  margin-left: 60px;
}

div.confirm i.alert {
  background: url('/assets/img/alert.png');
  float: left;
  width: 48px;
height: 48px;
margin: 0 12px 0 0;
}

div.confirm .actions {
  text-align: right;
}

div.confirm input {
  padding: 5px 17px;
  border-radius: 4px;
  color: #444;
  border: 0;
  margin: 0 5px;
  font-weight: bold;
border: 1px solid;

background: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(#E1E1E1));
background: -moz-linear-gradient(-90deg,white,#E1E1E1);
box-shadow: 0 1px 4px rgba(0,0,0,0.3);
cursor: pointer;
-webkit-font-smoothing: subpixel-antialiased!important;
}

div.confirm input:hover {
  color: #333;
}

div.confirm input:active {
  color: #333;
  background: #EEE;
}

div.confirm .fancyConfirm_ok {
  color: #900;
}

div.confirm .fancyConfirm_ok:hover {
  box-shadow: 0 0 5px #EE432E;
  color: #900;
}

div.confirm .fancyConfirm_cancel:hover {
  box-shadow: 0 0 10px #777;
}

#fancybox-wrap {
  margin-top: -10% !important;
}

#fancybox-title {
  line-height: 20px;
  background: rgba(0,0,0,0.9);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  color: white;
  margin-top: -10px;
margin-bottom: 10px;
text-align: left;
}

#fancybox-title label {
  font-weight: bold;
  width: 25%;
  text-align: right;
  display: inline-block;
}

/*#fancybox-title::before {
  position: absolute;
  top: -10px;
  left: 20px;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f1f1f1;
}*/

#fancybox-title input {
  min-width: 50%;
  border: 0;
  background: transparent;
  color: white;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	display: none;
	background: url('../img/uploaded.png') no-repeat center center rgba(255,255,255,0.5);
}

#dropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: -25px;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}

#dropbox input {
  cursor:text;
  background: #333;
  border: 0;
  color: #999;
  text-align: center;
  height: 20px;
  width: 100%;
  text-shadow: black 0 1px 0;
  font-size: 11px;
    font-family: "Lucida Grande", "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
}

/*----------------------------
	The Footer
-----------------------------*/



footer{
	display:block;
	background-color: #151517;
    
    position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 1000;
	
	box-shadow: 0 -1px 2px #171717;
	-webkit-box-shadow: 0 -1px 2px #171717;
	-moz-box-shadow: 0 -1px 2px #171717;
}

footer h2{
	font-weight:normal;
	position:absolute;
	color:#878787;
}


.twitter_follow {
    background: url("../img/larry.png") no-repeat scroll 100% 0 transparent;
    color: #878787;
    display: block;
    float: right;
    font-size: 14px;
    margin: 25px;
    padding-right: 30px;
    text-decoration: none;
    
    left: 50%;
    
    line-height: 20px;
}

.twitter_follow:hover {
    background-position: 100% 50%;
    color: #4A4A4A;
}

.twitter_follow:active {
    background-position: 100% 100%;
    color: #63B0D8;
}

footer .left {
  float: left;
  margin: 25px;
  padding-left: 30px;
  
}

.arrow {
  border-color: transparent transparent #f1f1f1 transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:relative;
  margin-left: -25px;
}

.arrow-border {
  border-color: transparent transparent #e2e2e2 transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:relative;
  margin-left: -25px;
}

.active {
  font-weight: bold;
}

a {
  color: #FFF;
  font-size: 12px;
  font-family: "Lucida Grande", "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
  text-decoration: none;
}

.links {
  margin-left: 200px;
position: absolute;
color: #666;
font-size: 11px;
margin-top: 7px;
}

.links a {
  color: #666;
  padding: 0 3px;
}
